{% extends "emails/reviews_base.html" %}

{% load englishjoin %}


{% block title %}Reviews on the way!{% endblock %}


{% block content %}
  <table id="content" align="center" cellpadding="0" cellspacing="0" border="0" >
    <tr id="top-message">
      <td>
        <h2>Your apps are activated!</h2>
        <p>Review Monitor is now tracking reviews for <strong>{{ app_names|englishjoin }}</strong>.</p>
      </td>
    </tr>

    {% for app in apps %}
      <tr class="app">
        <td>
          <span class="app-icon"><img src="{{ app.icon_100 }}" alt="{{ app.name }}"></span>
        </td>
      </tr>
      {% include "emails/reviews_overall.html" %}
    {% endfor %}
  </table>
{% endblock %}


{% block notification_reason %}
  <p>This is a one-time notification.</p>
{% endblock %}
