{% extends "emails/base_email.html" %}
{% load staticfiles %}


{% block title %}Welcome{% endblock %}

{% block header %}<br/>{% endblock header %}

{% block css %}

  <style>
    .product {
      border-top: 1px solid #efefef;
      padding: 20px 0;
      color: #000;
    }
    .product .text div.img {
      text-align: center;
    }
    .product .text img {
      max-width: 300px;
      margin-bottom: 10px;
    }
    .product td.img img {
      max-width: 150px;
      margin-right: 20px;
    }
    .product p {
      color: #000;
      margin-bottom: 10px !important;
    }
    p.product-name {
      font-weight: bold;
      color: #000;
      margin-bottom: 0px !important;
    }
    p.product-description {
      color: #000;
      font-size: .8em;
    }
  </style>

  <style media="only screen and (max-width: 480px)">
    .product .btn {
      display: block !important;
      padding: 10px !important;
    }
    .product td.img img {
      max-width: 100px !important;
    }
  </style>

{% endblock css %}

{% block content %}

  <table id="content" align="center" cellpadding="0" cellspacing="0" border="0" >

    <tr id="top-icon">
      <td>
        <h2>Welcome!</h2>
      </td>
    </tr>

    <tr id="top-message">
      <td>
        {% if recipient.first_name %}
          <p>{{ recipient.first_name }},<p>
        {% endif %}

        <p>
          Thank you for signing up for
          {% if recipient.flags.has_screenshot_builder %}
            Screenshot Builder!
          {% elif recipient.flags.has_review_monitor %}
            App Review Monitor!
          {% elif recipient.flags.has_sales_monitor %}
            App Sales Reporter!
          {% else %}
            our service!
          {% endif %}
        </p>

        {% if verify_url %}
          <p>Please click below to verify the email address <strong>{{recipient.email}}</strong>.</p>
          <p><a href="{{ verify_url }}" class="btn btn-primary">Verify Account</a></p>
        {% endif %}
      </td>
    </tr>

  </table>

{% endblock %}


{% block unsubscribe %}
  <a href="{{ unsubscribe_url }}" style="color: #999;">Unsubscribe</a>
{% endblock %}